{% extends "base.html" %}
{% block title %}Login{%endblock%}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <form method="POST" action="/login" role="form" class="form-horizontal">
      <div class="form-group">
	<label for="user" class="col-sm-3 control-label">Username:</label> 
	<div class="col-sm-9">
	  <input type="text" name="user" id="user" class="form-control">
      </div></div>
      <div class="form-group">
	<label for="pass" class="col-sm-3 control-label">Password:</label>
	<div class="col-sm-9">
	  <input type="password" name="pass" id="pass" class="form-control"></div>
      </div>

      <div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
	  <input type="submit" class="btn btn-default" name-"login" value="login">
	</div>
      </div>
    </form>
  </div>
</div>
{% endblock%}
    
{% block footer %}{% endblock %}
