{% extends "base.html" %}
{% block title %} Select Class {% endblock %}

{% block header %}
	  <li><a href="/logout">Logout</a></li>
	  <li><a href="/selectclass">Select</a></li>
	  <li><a href="/help">Help</a></li>
	  <li><a href="/pwreset">Change Password</a></li>
{% endblock %}

{% block content %}

<h2>Current Term: {{ trm }} </h2>
Choose one of the following Current Classes:<br>
<form method="POST" action="/classview" role="form" class="form-inline">
  <div class="form-group">
  <select name="classname" id="selection" class="form-control">
  </select>
  <input type="hidden" name="term" value="{{trm}}">
  <input type="submit" name="submit" value="Select Current Class" class="form-control btn btn-info">
  </div>
</form>

<br>
<br>Or Choose from an earlier term:<br>
<form method="POST" action="/classview" role="form" class="form-inline">
  <div class="form-group">
    <select name="classname" id="selection2" class="form-control">
    </select>
    <input type="hidden" name="term" value="other">
    <input type="submit" name="submit" value="Select Old Class" class="form-control btn btn-default">
  </div>
</form>

{% endblock %}

{% block footer %}
<script src="/static/scripts.js"></script>
<script>$(document).load(loadselect("{{trm}}"))</script>
{% endblock %}
